  .Section
    display: flex
    justify-content: center
    flex-direction: column
    align-items: flex-start
    padding: 150px
    @media all and (max-width: 900px)
      padding: 0
    box-sizing: border-box
    width: 100%
    div
      width:100%;
    .options
      display: inline-flex
    .option
      font-family: 'Montserrat'
      color: #573958
      padding: 20px 20px
      margin: 5px 10px
      transition: opacity .3s,transform .3s cubic-bezier(.25,.46,.45,.94), background .3s cubic-bezier(.25,.46,.45,.94), color .3s cubic-bezier(.25,.46,.45,.94), -webkit-transform .3s cubic-bezier(.25,.46,.45,.94)
      user-select: none
      cursor: pointer
      border: 2px #573958 solid
      border-radius: 3px
      box-sizing: border-box
    .option:hover
      box-shadow: 0 0 20px rgba(32,14,17,.15)
      background: rgba(32,14,17,.15)
      color: white
      border: 2px transparent solid
