.Home
  margin-top: 100px
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
.home-form
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  label input
    padding: 5px 10px
    margin: 20px 0
    font-size: 2em
    -webkit-appearance: none
    border-style: none
    border-radius: 6px
    border: 1px solid #4a3c42
    color: #bf8d8d
    font-family: 'Montserrat'
  input[type=submit]
    font-family: 'Montserrat'
    color: #fff
    padding: 20px 20px
    margin: 5px 10px
    transition: opacity 0.3s, transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    user-select: none
    cursor: pointer
    border-style: none
    border-radius: 3px
    box-sizing: border-box
    background: #F76C6C
    box-shadow: 0 16px 18px 0 rgba(0,0,0,0.13), 0 4px 6px 0 rgba(0,0,0,0.16)
    font-size: 1em
    p
      cursor: pointer
  input[type=submit]:hover
    background: rgba(32,14,17,0.15)
    color: #573958
    cursor: pointer
