.header
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

.logo
  position: absolute
  z-index: 3
  color: white
  cursor: default
  transform: scale(0.5)
  transform-origin: center
  width: 100%
  display: flex
  align-items: center
  justify-content: center
